.gradle
certificaciones/dominio/build/classes/
certificaciones/dominio/build/generated/
certificaciones/dominio/build/jacoco/
certificaciones/dominio/build/libs/
certificaciones/dominio/build/reports/
certificaciones/dominio/build/resources/
certificaciones/dominio/build/tmp/
certificaciones/aplicacion/build/
certificaciones/build/
certificaciones/infraestructura/build/classes/
certificaciones/infraestructura/build/generated/
certificaciones/infraestructura/build/jacoco/
certificaciones/infraestructura/build/libs/
certificaciones/infraestructura/build/reports/
certificaciones/infraestructura/build/resources/
certificaciones/infraestructura/build/tmp/

!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
bin/
logs
# gradle/

